{# src/SF/PlatformBundle/Resources/views/Advert/index.html.twig #}


<!DOCTYPE html>

<html>

  <head>

    <title>Bye Bye !</title>

  </head>

  <body>

    <h1>Bye bye {{ nom|upper }} !</h1>

  </body>

</html>

